
// ***
// * BASIC DEFINITIONS + BASE BOOTSTRAP
// *

* {
    // cuz we love that property
    box-sizing: border-box;
}

html, body {
    margin: 0;

    // globalize as default font
    #webfont.sans(400);

    background-color: @black;
    color: @white;
}

::selection { // style the text selection
    background-color: fade(@color, 99%);
    color: @white;
}

// The fancy Animation
@keyframes "hue" {
    from {  filter: hue-rotate(0deg);    }
    to   {  filter: hue-rotate(360deg);  }
}

/**
 * BASIC BOOTSTRAP
 * ****************************************************************************
 */

.container {
    width: 450px;
    max-width: 100%;

    margin: 25px auto;
    padding: 0 10px;
}
