%footer.container
    %section.social-shit
        %a.social-btn.facebook{:href => "//facebook.com/100009831876615", :target => '_blank'} Facebook
        %a.social-btn.codepen{:href => "//codepen.io/max-scopp/", :target => '_blank'} CodePen

    %h6
        &copy;
        = Time.new.year
        Max Scopp
        &mdash; send spam to
        %a{:href => "mailto:m.scopp32@gmail.com"} m.scopp32@gmail.com
