%head
    %title
        = $title

    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => 'Max Scopp\'s Website' }
    %meta{ :name => 'author', :content => 'Max Scopp' }

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    %link{ :rel => 'stylesheet', :href => 'css/main.css' }

    /[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
