!!!5
%html{ :generated => Time.now }

    - $title = 'maxscopp.de ~ LOOK MOM, I\'M ON THE INTERNET!'
    = Haml::Engine.new(File.read("src/haml/head.haml")).render

    %body
        %header
            %img{:src => "//graph.facebook.com/100009831876615/picture?type=large"}/

            %h1
                Max
                %span Scopp

            %h2 Front & Backend Developer

        %article.container
            %p
                %span.huge Hi.
                \ My name is Max Scopp, I’m a developer with a penchant for
                \ the web since I’m 12 years old &ndash; all starting with
                \ <a href='https://en.wikipedia.org/wiki/Halo:_Combat_Evolved'>
                \   Halo: Combat Evolved</a>.

            %p
                \ I’m currently living in Bremen, Germany due to my schooling
                \ at <a href='http://artundweise.de'>
                \   artundweise GmbH</a>.

            .tab-container
                .tab-row
                    %input{:type => "checkbox", :id => "tab"}/
                    %label{:for => "tab"}
                        %h3 What I play with

                    .tab-inner
                        .inner-wrap
                            %p
                                \ I'm interested into programming in general,
                                \ although I'm currently playing with:
                            %ul
                                %li
                                    PHP
                                    %span.clamped Typo3 Extensions
                                %li
                                    JavaScript
                                    %span.clamped mainly jQuery
                                %li
                                    LESS
                                    %span.clamped CSS pre-preprocessor in Node.js
                                %li
                                    HAML
                                    %span.clamped HTML pre-preprocessor in Ruby
                                %li
                                    Python3
                                    %span.clamped sneaker, raspery-pi 😍

                            %p
                                \ Planed in the future is:
                            %ul
                                %li
                                    Objective-C
                                    %span.clamped or C-sharp
                                %li
                                    Java
                                    %span.clamped Android App-Development
                                %li Maybe Go too, I'll see.


        = Haml::Engine.new(File.read("src/haml/footer.haml")).render
