@import "setup";

svg {
  display: inline;
  margin-bottom: -0.171em;
}

::selection {
  background-color: var(--blue);
  color: var(--dark);
}

article {
  position: relative;
  max-width: 43.5rem;

  margin-bottom: 33vh;

  &.center {
    margin: auto;
  }
}

stencil-router {
  grid-area: back;
}
