.tag-bubble {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 75%;

  li {
    display: inline-block;
    padding: 0.4em 0.6em;
    margin: 0.2em;

    font-weight: 500;
    line-height: 1;

    background: var(--primary);
    color: var(--primary-contrast);

    border-radius: 0.2em;

    cursor: default;
    user-select: none;
  }
}

.four-o-four {
  display: grid;
  place-content: center;
  place-items: center;
}

.not-available {
  &,
  a {
    text-decoration: line-through;
    cursor: not-allowed;
  }
}

.my-song {
  display: flex;
  place-items: center;

  a {
    font-size: 1.4rem !important;

    &::after {
      content: none !important;
    }
  }

  button {
    justify-self: end;
  }
}

// @keyframes rotation-360 {
//   from {
//     transform: rotate3d(0, 0, 1, 0deg);
//   }
//   to {
//     transform: rotate3d(0, 0, 1, #{360 * 6}deg);
//   }
// }
