
a {
    cursor: pointer;

	color: var(--primary);
	text-decoration: none;
	font-weight: 500;

	will-change: color;
	user-select: none;

	&:not(:hover) {
		transition: color ease-out 600ms;
	}

	&:hover {
		color: var(--primary-secondary);
	}

	&[target="_blank"] {
		&::after {
			content: "";
			display: inline-block;

			pointer-events: none;

			background-image: url("data:image/svg+xml,%3Csvg height='1024' width='768' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E @media (prefers-color-scheme: dark) %7B%0Apath %7B%0Afill: white;%0A%7D %3C/style%3E%3Cpath d='M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z'/%3E%3C/svg%3E");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			margin: 0 .1em;
			padding: .24em;

			opacity: 0.3;
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
