cookie-notice {
  user-select: none;
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 17px);

  text-align: center;
  font-size: 10px;
  opacity: 0.3;
  padding-top: 0.2em;

  > span {
    display: inline-block;
    max-width: 32rem;
  }
}
