
// ***
// * BASE IMPORTS
// *

body > header {
    position: relative;
    padding: 50px 0;

    background: url(https://unsplash.it/1000/500?random) no-repeat center;
    background-size: cover;

    animation: imgLoad linear 1s forwards;

    text-align: center;

    // load a low-quality image for mobile
    @media (max-width: @mobile-break) {
        background-image: url(https://unsplash.it/110/200?random&blur);
    }

    &:before {
        content: 'Image hostet by unsplash.it';
        position: absolute;
        padding: 10px;

        text-align: left;
        #webfont.sans(300);
        font-size: 13px;

        color: fade(@white, 45%);

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(fade(@black, 25%), @black);
    }

    img {
        position: relative;
        display: block;
        margin: 50px auto;

        border-radius: 1000px;
        box-shadow: 0 0 3px @black;

        @media (max-width: @mobile-break) {
            margin: 10px auto 30px auto;
        }
    }

    h1 {
        display: inline-block;
        position: relative;
        margin: 0;

        cursor: default;
        user-select: none;

        #webfont.quicksand(700);
        text-align: center;

        font-size: 5rem;
        text-transform: uppercase;
        text-shadow: 0 0 3px @black;

        span {
            #webfont.quicksand(300);
            color: fade(@white, 75%);
        }

        @media (max-width: @mobile-break) {
            font-size: 20vw;
            line-height: 1em;
        }
    }

    h2 {
        position: relative;

        letter-spacing: .06em;
        margin: .25em 0;
        text-transform: uppercase;
        color: fade(@white, 65%);
        text-shadow: 0 0 3px @black;

        #webfont.quicksand(300);

        @media (max-width: @mobile-break) {
            font-size: 1rem;
        }
    }
}

@keyframes "mAnimation" {
    0% {background-position-y: 0;}
    100% {background-position-y: 200%;}
}

