.tab-container {
    .tab-row {
        input[type='checkbox']:first-child {
            display: none;

            + label {
                user-select: none;
                cursor: pointer;

                h3 {
                    #webfont.sans(400);

                    font-size: 1.5em;
                    display: block;

                    margin-bottom: 0;

                    &:before {
                        content: '\0203A';
                        display: inline-block;

                        width: 1.5em;
                        height: 1.6em;

                        text-align: center;
                        transition: all ease .15s;

                        backface-visibility: hidden;
                        perspective: 1000;
                    }
                }
            }

            &:checked + label {
                h3 {
                    &:before {
                        transform: rotateZ(-90deg);
                    }
                }

                + .tab-inner > .inner-wrap {
                    transform: translateY(0);
                    margin-top: 0;
                }
            }
        }

        .tab-inner {
            overflow: hidden;
            position: relative;

            > .inner-wrap {
                transform: translateY(-65%);
                margin-top: -150%;
                transition: all ease-in-out .5s;
            }
        }
    }
}
