@import "engine";
@import "../client-styles.scss";
@import "generic";
@import "elements";
@import "objects";
//@import "components"; // rarely used, for shared component styles, like a card
@import "utilities";

// content

.emoji {
  opacity: 1 !important;
}

button {
  @extend %button;
}

.subhead {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  color: var(--dark-half);
  margin-bottom: 1em;
}
